{% extends "base.html" %}
{% block body %}
{% load staticfiles %}
    {% if user %}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Sorry, you need to be signed in as an photographer in order to upload pictures!</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

